:root {
    /* --border-color: #291D4D; */
    --dialog-background: #FFF3B4;
    /* --dialog-background: #94b0c2; */

    /* --menu-background: #FFE8D2; */
    --menu-background: #94b0c2;
    /* --menu-border-color: #A48465; */
    --menu-border-color: black;

    /* --menu-font-color: #3A160D; */
    --menu-font-color: #fff6d3;
    /* --menu-selected-background: #7fc2ff; */
    --menu-selected-background: #f9a875;
    --controls-size: 10vh;
}

* {
    box-sizing: border-box;
}

body{
    background: #333;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'DotGothic16', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-container {
    /* position: relative;
    aspect-ratio: 3/2;
    width: 352px;
    height: 198px;
    margin: 0 auto;
    outline: 2px solid white;
    transform: scale(3) translateY(50%); */

    display: flex;
    justify-content: center;
    width: 25%;
    height: 25%;
    margin: 0 auto;
    outline: 2px solid white;
    overflow: hidden;
    transform: scale(3) translateY(50%);
}


.game-container canvas {
    image-rendering: pixelated;
}

.controls {
    padding-top: 32rem;
    text-align:center;
    font-size: 16px;
    color: white;
}

/* TODO: Edit for responsiveness */
/* Media Query for mobile + tablet portrait Devices */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .game-container {
        width: 25%;
        height: 10rem;
    }
}

/* Media Query for tablet landscape Devices */
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
    .game-container {
        width: 25%;
        height: 10rem;
    }
}

#touchControls:not(.visible) {
    display: none;
}

#dpad,
#apad {
    position: fixed;
    bottom: 1rem;
    z-index: 3;
}

#dpad {
    left: 1rem;
}

#dpad svg {
    width: calc(2 * var(--controls-size));
    height: calc(2 * var(--controls-size));
    fill: var(--color-base);
}

#dpad svg rect {
    opacity: 0.6;
}