:root {
    /* --border-color: #291D4D; */
    --dialog-background: #FFF3B4;
    /* --dialog-background: #94b0c2; */

    /* --menu-background: #FFE8D2; */
    --menu-background: #94b0c2;
    /* --menu-border-color: #A48465; */
    --menu-border-color: black;

    /* --menu-font-color: #3A160D; */
    --menu-font-color: #fff6d3;
    /* --menu-selected-background: #7fc2ff; */
    --menu-selected-background: #f9a875;
    
}

* {
    box-sizing: border-box;
}

body{
    background: #333;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'DotGothic16', sans-serif;
}

.game-container {
    position: relative;
    width: 352px;
    height: 198px;
    margin: 0 auto;
    outline: 2px solid white;

    transform: scale(3) translateY(50%);
}

.game-container canvas {
    image-rendering: pixelated;
}

.controls {
    position: absolute;
    left:0; right:0;
    bottom: 0;
    text-align:center;
    font-size: 16px;
    color: white;
  }
