.KeyboardMenu {
    border: 1px solid var(--border-color);
    background: var(--menu-background);
    position: absolute;
}

.KeyboardMenu button {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    --webkit-appearance: none;
    border: 0;
    background: none;
    height: auto;
    cursor: pointer;
    font-family: inherit;
    padding: 0;
    padding-left: 1em;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 8px;
}

.KeyboardMenu button:focus {
    background: var(--menu-selected-background);
    outline: 0;
}

.KeyboardMenu button span {
    color: gray;
}

.KeyboardMenu img {
    display: flex;
    align-items: center;
    width: 60%;
    height: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.KeyboardMenu .option {
    position: relative;
}

.KeyboardMenu .option .right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.DescriptionBox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--menu-font-color);
    /* border-top: 1px solid var(--border-color); */
    border-top: 1px solid grey;
    background: var(--menu-background);
    padding: 2px;
    z-index: 3;
}

.DescriptionBox p {
    font-size: 10px;
    margin: 0;
    z-index: 3;
}

/* * Edit for responsiveness */
/* Media Query for smaller mobile devices */
@media only screen and (max-width: 468px) {
    .KeyboardMenu button {
        font-size: 6px;
    }
    .DescriptionBox p {
        font-size: 6px;
    }
}

/* Media Query for mobile devices (half screen of mac) */
@media only screen and (min-width: 468px) and (max-width: 768px) {
    .KeyboardMenu button {
        font-size: 8px;
    }
    .DescriptionBox p {
        font-size: 8px;
    }
}

/* Media Query for larger mobile + tablet portrait devices */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .KeyboardMenu button {
        font-size: 7px;
    }
    .DescriptionBox p {
        font-size: 7px;
    }
}

/* Media Query for tablet landscape Devices */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .KeyboardMenu button {
        font-size: 8px;
    }
    .DescriptionBox p {
        font-size: 8px;
    }
}